<div class="container">
  <div class="row">
    <h1 class="col text-center">Stores</h1>
  </div>
  <div class="row">
    <%= link_to "Order by Most Coupons", stores_most_coupons_path, class: "col text-center" %>
  </div>
</div>

<div class="container">
<% @stores.each do |store| %>
  <h3 class="row"> <%= link_to store.name, store_path(store) %> </h3>
  <ul>
    <li class="row"><%= store_coupon_count(store) %></li>
  </ul>
  
<% end %>
</div>