<h1>Stores</h1>
<% @stores.each do |store| %>
  <div class="store">
    <h3> <%= store.name %> </h3>
    <% store_coupons(store).each do |coupon|%>
      <ul>
        <li><%= link_to coupon.item, coupon_path(coupon) %></li>
        <li><%= coupon.offer_description%></li>
      </ul>
    <% end %>
  </div>
<% end %>