<% if @coupon.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show">

    <ul>
    <% @coupon.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
<% end %>

<div class="text-center">
  <h1 class="h2 mb-3">Update Coupon</h1>

  <%= render partial: 'coupon_form', locals: {coupon: @coupon}%>

  <%= form_tag coupon_path(@coupon), method: :delete, class: "form-signin login-2" do %>
    <%= submit_tag "Delete Coupon",  class: "btn btn-md btn-secondary btn-block" %>
  <% end %>

</div>