<%= render partial: 'coupon_errors', locals: {coupon: @coupon}%>

<div class="text-center">
  <h1 class="h2 mb-3">Update Coupon</h1>

  <%= render partial: 'coupon_form', locals: {coupon: @coupon}%>

  <%= form_tag coupon_path(@coupon), method: :delete, class: "form-signin login-2" do %>
    <%= submit_tag "Delete Coupon",  class: "btn btn-md btn-secondary btn-block" %>
  <% end %>

</div>