<% if @coupon.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show">

    <ul>
    <% @coupon.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
<% end %>

<div class="text-center">
  <h1 class="h2 mb-3">Create New Coupon</h1>

  <%= render partial: 'coupon_form', locals: {coupon: @coupon}%>
  
</div>