<%= render partial: 'coupon_errors', locals: {coupon: @coupon}%>

<div class="text-center">
  <h1 class="h2 mb-3">Create New Coupon</h1>

  <%= render partial: 'coupon_form', locals: {coupon: @coupon}%>
  
</div>