<div class="text-center">
    <h1 class="h2 mb-3">Stores</h1>
    <!--<%= form_tag stores_most_coupons_path, method: :get, class: "form-signin login-2"  do %>
      <%= submit_tag 'Sort by Most Coupons', class: "btn btn-sm btn-secondary btn-block mb-5" %>
    <% end %> --->
</div>

<div class="text-center container-list"></div>
  {{#each this}}
    <ul class="list-unstyled mb-5">
      <h1 class="h4 text-left"><a href="/stores/{{ id }}" class="store-link" data-storeId="{{ id }}">{{ name }}</a></h1>
      <ul class="list-unstyled text-left">
        <li>Coupon Count:</li>
      </ul>
    </ul>
  {{/each}}
</div>