<div class="" id="display">
  <div class="text-center" id="welcome">
    <h1>Coupon Manager</h1>
  </div>

  <div class="container-list text-center about-section rounded">
    <p>So you're a thrifty shopper, huh? Organize your money saving coupons with <strong>Coupon Manager</strong>. Share coupons with others and save to your profile those you plan on using.</p>
  </div>
</div>